<launch>
    <arg name="online" default="false" />

    <group if="$(arg online)">
        <include file="$(find rplidar_ros)/launch/rplidar.launch" />
        <!-- Publish transforms -->
        <node pkg="robot_intrinsics_publisher"
            type="robot_intrinsics_publisher"
            name="robot_intrinsics_publisher"
            output="screen" />
    </group>

    <group unless="$(arg online)">
        <rosparam param="use_sim_time">true</rosparam>
    </group>

    <!-- Cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find mobility)/configuration_files
            -configuration_basename robot.lua"
        output="screen">
    </node>

    <!-- Mapping -->
    <node name="cartographer_occupancy_grid_node"
        pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        args="-resolution 0.05" />

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>
